.sidebar_get {
	position: fixed;
	right: 20px;
	bottom: 60px;
	display: none;
}

.head_get {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
}

.top_title a {
	color: #000000;
}

.top_title a:hover {
	color: #dc002f;
	text-decoration: none;
}

.top_title .right_arrow {
	margin: 0 12px;
}

.top_title {
	margin-top: 32px;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.icon {
	display: inline-block;
	background: url(../img/list_img/ia_2700000113.png) no-repeat;
}

.brand .brand_search {
	margin-bottom: 20px;
	display: none;
}

.brand .brand_search_input {
	width: 170px;
	height: 22px;
	border: 1px solid #ddd;
	padding-left: 20px;
	background: url(../img/list_img/ia_2700000105.png) 5px no-repeat;
}

.more {
	margin-right: 10px;
}

.brand .brand_title {
	font-size: 14px;
	font-weight: 600;
	padding-left: 14px;
	padding-right: 78px;
}

.more,
.down {
	color: #666;
	cursor: pointer;
}

.more:hover,
.down:hover {
	transition: background-position 0.15s ease-in-out;
	color: #dc002f;
	cursor: pointer;
}

.more:hover .more_icon {
	transition: background-position 0.15s ease-in-out;
	background-position: -37px -64px;
}

.down:hover .down_icon {
	transition: background-position 0.15s ease-in-out;
	background-position: 0 -42px;
}

.brand .brand_search_input::placeholder {
	font-size: 14px;
}

.more_icon {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 5px;
	background-position: -37px -54px;
	cursor: pointer;
}

.down_icon {
	display: inline-block;
	width: 9px;
	height: 6px;
	margin-left: 5px;
	background-position: 0 -33px;
	cursor: pointer;
}

.brand {
	margin-top: 40px;
}

.brand_log_box ul {
	max-height: 275px;
	width: 950px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.brand_log_box .brand_btn {
	text-align: center;
	font-size: 14px;
}

.brand_btn_title {
	font-size: 14px;
}

.brand_log_box .brand_btn .confirm {
	width: 60px;
	line-height: 22px;
	margin: 0 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}

.brand_log_box .brand_btn .cancel {
	width: 60px;
	line-height: 22px;
	margin: 0 10px;
	background-color: #eee;
	color: #999;
	border: none;
	cursor: pointer;
}

.brand_select {
	display: inline-block;
	border: 1px solid transparent;
	padding-left: 5px;
	margin: 0 10px 5px;
	cursor: pointer;
}

.brand_clear_btn {
	display: inline-block;
	width: 60px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	margin: 0 10px;
	background: #eee;
	cursor: pointer;
	color: #999;
	display: none;
}

.brand_log_box .brand_list {
	width: 130px;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
}

.brand_log_box .brand_list img {
	width: 130px;
	height: 53px;
	display: block;
}

.brand_log_box .brand_list .mask {
	position: absolute;
	width: 100%;
	height: 58px;
	line-height: 58px;
	bottom: 0;
	color: white;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	cursor: pointer;
}

.brand_log_box .brand_list:hover .mask {
	display: block;
}

.brand_log_box {
	width: 911px;
	height: 109px;
	overflow: hidden;
}

.brand_list .select_on {
	width: 131px;
	height: 54px;
	position: absolute;
	left: -1px;
	top: 0;
	border: 1px solid #000;
	box-sizing: border-box;
}

.brand_list .select_on::after {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/list_img/x_black.png);
	background-size: contain;
}

.brand_list:hover .select_on {
	border: 1px solid red;
}

.brand_list:hover .select_on::after {
	background: url(../img/list_img/x_red.png);
	background-size: contain;
}

.sort_box {
	margin-top: 22px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.sort_box .sort_link {
	padding: 16px 0;
	border-top: 1px solid #eee;
}

.sort_link:first-child {
	border-top: none;
}


.sort_link .sort_title {
	font-weight: 600;
	padding-left: 15px;
	width: 105px;
	font-size: 14px;
}

.sort_link .sort_item {
	font-size: 14px;
	width: 138px;
}

.sort_item_box {
	width: 969px;
	height: 19px;
	overflow: hidden;
	display: inline-block;
}

.sort_link .brand_right_text {
	position: absolute;
	top: 15px;
	right: 0;
}

.sort_more_item {
	width: 95px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-top: 1px solid white;
	margin: auto;
	color: #000000;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	margin-bottom: 20px;
}

.subsort_box .black_arrow_icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 5px;
	background: url(../img/list_img/arrow_black.png) bottom no-repeat;
}

.subsort_box .white_arrow_icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 5px;
	background: url(../img/list_img/arrow_white.png) bottom no-repeat;
}

.subsort_left .subsort_item {
	width: 100px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.price_butn{
	width: 100px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	margin-left: -1px;
	cursor: pointer;
}
.dispay{
	display: none;
}
.black {
	background-color: #000000;
	color: white;
}
.white{
	background-color: white;
	color: #000000;
}
.black_triangle_icon {
	display: inline-block;
	width: 8px;
	height: 10px;
	margin-left: 5px;
	background: url(../img/list_img/_triangle.png) bottom no-repeat;
}

.white_triangle_up {
	display: inline-block;
	width: 8px;
	height: 10px;
	margin-left: 5px;
	background: url(../img/list_img/triangle-up.png) bottom no-repeat;
}

.white_triangle_down {
	display: inline-block;
	width: 8px;
	height: 10px;
	margin-left: 5px;
	background: url(../img/list_img/triangle-down.png) bottom no-repeat;
}

.subsort_left {
	border: 1px solid #CCCCCC;
}

.subsort_line {
	width: 1px;
	height: 11px;
	background-color: #CCCCCC;
	position: absolute;
	right: 1px;
	top: 10px;
}

.subsort {
	background-color: white;
}

.subsort .subsort_box {
	height: 32px;
	width: 100%;
	z-index: 100;
	background-color: white;
}

.has {
	display: inline-block;
	margin: 8px 0 0 20px;
}

.has input {
	width: 14px;
	height: 14px;
	margin-right: 10px;

}

.has span {
	font-size: 14px;
	display: inline-block;
}

.goods_box {
	padding-top: 20px;
}

.pages {
	font-size: 14px;
}

.pages .page_num {
	margin-top: 10px;
}

.up_arrow_box {
	width: 32px;
	margin: 0 5px;
	height: 32px;
	border: 1px solid #ddd;
	background: url(../img/list_img/ia_2700000128.png) 0 0 no-repeat;
	cursor: pointer;
}

.down_arrow_box {
	width: 32px;
	margin: 0 5px;
	height: 32px;
	border: 1px solid #ddd;
	background: url(../img/list_img/ia_2700000128.png) 0 -32px no-repeat;
	cursor: pointer;
}


.buy_icon {
	width: 14px;
	height: 18px;
	background: url(../img/list_img/buy_icon.png) 50% no-repeat;
	display: inline-block;
}

.goods_mask {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	cursor: pointer;
	display: none;
}

.goods_mask span {
	font-size: 14px;
}

.goods_list li {
	padding: 16px 15px 0;
	width: 206px;
	height: 302px;
	border-right: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	border-top: 1px solid white;
	border-left: 1px solid white;
	color: #000000;
}

.goods_img a {
	color: #000000;
}

.goods_img a:hover {
	color: #000000;
}

.goods_list li:hover {
	border: 1px solid #000000;
}

.goods_list li img {
	width: 180px;
	height: 180px;
}

.goods_img {
	text-align: center;
	height: 180px;
}

.goods_list .goods_tages {
	margin: 6px 0;
	width: 40px;
	height: 15px;
	color: white;
	background-color: red;
	text-align: center;
}

.goods_list .goods_text {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.goods_list_brand {
	font-weight: 600;
	padding-bottom: 5px;
}

.goods_list .goods_price {
	margin-top: 15px;

}

.text_red {
	color: #000000;
}

.text_red:hover {
	color: red;
}

.pagination .jump {
	font-size: 14px;
	color: #000;
	margin-left: 40px;
}

.pagination .jump input {
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	margin: 0 6px;
	color: #000;
	text-align: center;
	outline: none;
}

.pagination .down,
.pagination .up {
	font-size: 14px;
	color: #a8a8a8;
	border: 1px solid #ddd;
	padding: 12px 26px;
	cursor: pointer;
}

.pagination .num {
	font-size: 14px;
	color: #FFF;
	background-color: #000000;
	border: 1px solid #000000;
	padding: 12px 16px;
	margin: 0 3px;
	cursor: pointer;
}

.num_box .num:last-child {
	margin-right: 15px;
}

.num_box .num:first-child {
	margin-left: 15px;
}

.pagination .confirm {
	font-size: 14px;
	color: white;
	background-color: #000000;
	border: 0;
	padding: 14px;
	margin-left: 20px;
	outline: none;
	cursor: pointer;
}

.pagination {
	width: 100%;
	height: 100%;
	margin-top: 97px;
	margin-bottom: 55px;
}

.pagination .pagination_box {
	width: 950px;
	margin: 0 auto;
	padding-left: 240px;
}

.pagination .white {
	background-color: white;
	color: #000000;
	border: 1px solid #CCCCCC;
}
