/* user 左边导航栏*/
.left_title {
	width: 100%;
	font-size: 16px;
	padding-bottom: 22px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
	cursor: pointer;
}

.left_title a {
	color: #000000;
}

.left_title a:hover {
	color: red;
}

.left_list {
	width: 180px;
}

.left_list .list {
	margin-left: 40px;
	margin-top: 20px;
}

.left_list .list li {
	cursor: pointer;
}

.triangle {
	width: 0;
	height: 0;
	float: left;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin: 12px 0 0 8px;
	border-top: 4px solid #000;
	cursor: pointer;
}

.ul_title {
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}

.subList li {
	height: 28px;
	line-height: 28px;
	color: #333;
	font-size: 14px;
	text-indent: 26px;
	cursor: pointer;
	display: none;
}
