/* user 左边导航栏*/
.left_title {
	width: 100%;
	font-size: 16px;
	padding-bottom: 22px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.subList a,
.left_title a {
	color: #000000;
}
.subList a:hover,
.left_title a:hover {
	color:#dc002f;;
}

.left_list {
	width: 180px;
}

.left_list .list {
	margin-left: 40px;
	margin-top: 20px;
}

.left_list .list li {
	cursor: pointer;
}

.triangle {
	width: 0;
	height: 0;
	float: left;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin: 12px 0 0 8px;
	border-top: 4px solid #000;
	cursor: pointer;
}
.transform{
	transform: rotate(180deg);
}

.ul_title {
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}

.subList li {
	height: 28px;
	line-height: 28px;
	color: #333;
	font-size: 14px;
	text-indent: 26px;
	cursor: pointer;
}
/* 右边部分 标题格式 */
.right_content_box {
	border-left: 1px solid #ccc;
}

.right_content {
	padding-left: 60px;
	padding-top: 20px;
}

.right_box {
	margin-left: 59px;
}
.content {
	margin-top: 30px;
}

.right_title {
	padding-bottom: 22px;
	letter-spacing: 2px;
	font-size: 16px;
	color: #000000;
	margin-left: 60px;
	border-bottom: 1px solid #000;
}
/* 猜你喜欢 */
.youLike {
	width: 890px;
	overflow: hidden
}

.youLike .youlike_content {
	margin-top: 20px;
}

.youLike .youlike_content_ul>li {
	width: 212px;
	height: 318px;
	background-color: white;
	border-right: 0;
	border-bottom: 0;
	margin-left: 8px;
	border: 1px solid white;
	display: inline-block;
}

.youlike_content_ul>li img {
	margin: 16px 0 30px 16px;
}

.youlike_content_ul>li:hover {
	border: 1px solid #000000;
}

.youlike_content_ul>li a:hover {
	color: #000000;
	text-decoration: none;
}
/* 右浮动 回到顶部 */
.sidebar_get{
	position: fixed;
	right: 20px;
	bottom: 60px;
}
/* 底部 */
.foot_get {
	margin-top: 30px;
}
/* 上一页下一页 */
.pagination .jump {
	font-size: 14px;
	color: #000;
	margin-left: 40px;
}

.pagination .jump input {
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	margin: 0 6px;
	color: #000;
	text-align: center;
	outline: none;
}

.pagination .down,
.pagination .up {
	font-size: 14px;
	color: #a8a8a8;
	border: 1px solid #ddd;
	padding: 15px 20px;
	cursor: pointer;
}

.pagination .num {
	font-size: 14px;
	color: #FFF;
	background-color: #000000;
	padding: 15px 20px;
	margin: 0 24px;
	cursor: pointer;
}

.pagination .confirm {
	font-size: 14px;
	color: white;
	background-color: #000000;
	border: 0;
	padding: 14px;
	outline: none;
	cursor: pointer;
}