.right_content .nav_link {
	margin-top: 20px;
	background-color: #fafafa;
}

.nav_link .text:first-child {
	padding-left: 22px;
}

.nav_link .text {
	padding: 0 35px 0 0;

}

.nav_link .text p {
	font-size: 15px;
	color: #666;
	height: 38px;
	line-height: 38px;
}

.nav_link .text p:hover {
	color: #e00;
	text-decoration: none;
	cursor: pointer;
}

.now {
	border-bottom: 2px solid #000000;
}

.order_triangle {
	width: 0;
	height: 0;
	border-top: 4px solid #000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 8px 0 0 8px;
}

.time_list {
	width: 140px;
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 8px #ddd;
	margin: -26px 0 0 -21px;
	padding-left: 20px;
	display: none;
}

.state_list .link,
.time_list .link {
	padding: 8px 0;
}


.state_list {
	width: 85px;
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 8px #ddd;
	margin: -10px 0 0 -21px;
	padding-left: 20px;
	display: none;
}

.table {
	margin-top: 40px;
	padding-bottom: 28px;
	border-bottom: 1px solid #dfdfdf;
}

table {
	width: 100%;
}

.table th {
	padding-right: 20px;
	color: #000000;
}

.table th a {
	cursor: pointer;
}

.table th:first-child {
	padding-left: 26px;
	padding-right: 68px;
}

a {
	color: #000000;
}

a:hover {
	color: red;
	text-decoration: underline;
}

.tips p a {
	text-decoration: underline;
}

.tips .buy_goods {
	margin-top: 20px;
}

.tips .order_info {
	margin-left: 20px;
}

.grey {
	color: #8c8c8c;
}

.tips .order_info .cody_butn {
	margin: 0 5px;
}

.tips .goods_info {
	margin-top: 31px;
	height: 150px;
}

.tips .goods_info img {
	width: 90px;
	height: 90px;
	margin-left: 20px;
}

.tips .goods_info .infor {
	margin-left: 10px;
}

.tips .goods_info .goods_name {
	font-weight: 600;
	font-size: 14px;
	color: #000;
}

.tips .infor .subname,
.tips .infor .spec {
	color: #666;
	margin-top: 5px;
}

.tips .goods_info .goods {
	width: 354px
}

.tips .goods_info .goods_num {
	width: 30px;
	height: 100%;
	text-align: center;
}

.tips .goods_info .goods_price {
	width: 70px;
	text-align: center;
}

.tips .goods_info .get_goods_name {
	width: 120px;
	text-align: center;
}
.tips .goods_info .sum_price{
	width: 84px;
	text-align: center;
}
.tips .goods_state{
	width: 114px;
	text-align: center;
}
.tips .operation{
	width: 118px;
	text-align: center;
}
.tips .operation .order_infor_button{
	margin: 10px 0;
}
.tips .operation .pay_button span{
	padding: 3px 2px;
	background-color: #F12526;
	color: white;
	
}
.tips .operation .pay_button{
	cursor: pointer;
}
.tips .operation .pay_button:hover span{
	background-color: #BE0000;
}
.tips .null_tips{
	height: 160px;
	text-align: center;
	margin: 0 auto;
	display: none;
}
.tips .null_tips p{
	margin-top: 100px;
}
.tips #finish .dele_button,
.tips #finish .pay_button{
	opacity: 0;
}